name: Python CI Pipeline

on:
  push:
    branches-ignore:
      - master

jobs:
  pre_commit_hooks_and_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Install dependencies
        run: poetry install --no-interaction --no-root

      - name: Run pre-commit hooks
        id: precommit
        run: |
          poetry run pre-commit run --all-files

      - name: Run Pytest
        run: poetry run coverage run -m pytest tests
